body {
  background-color: var(--color-white);
  color: var(--main-color);
  font-family: "Roboto", sans-serif;
}

p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (min-width: 480px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.no-scroll {
  overflow: hidden;
}

:root {
  --main-color: #212121;
  --color-blue: #2196f3;
  --color-grey: #757575;
  --color-white: #ffffff;
  --color-black: #000000;
  --background-grey: #2f303a;
  --btn-shadow: rgba(0, 0, 0, 0.15);
  --btn-shadow-f: rgba(0, 0, 0, 0.15);
  --btn-hover: #188ce8;
  --color-footer: rgba(255, 255, 255, 0.6);
  --color-button: #f5f4fa;
  --color-footers: #2f303a;
  --color-team-rgb: rgba(0, 0, 0, 0.12);
  --color-team-rgba: rgba(0, 0, 0, 0.14);
  --color-teams-rgb: rgba(0, 0, 0, 0.2);
  --color-btn-primary: rgba(0, 0, 0, 0.1);
  --color-btns-primary: rgba(0, 0, 0, 0.08);
  --card-set-gap: 30px;
  --social-link-hover: #2196f3;
  --team-soc-link: #afb1b8;
  --social-hover: #2196f3;
  --hero-bg: #c4c4c4;
  --time-function: 250ms;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.list {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-blue);
  text-decoration: none;
  margin-right: 93px;
}

.logo__dark {
  color: var(--color-black);
}

.logo__white {
  color: var(--color-white);
}

.current {
  position: relative;
}
.current::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--color-blue);
}
.current:visited {
  color: var(--color-blue);
}

.current-mob {
  position: relative;
}
.current-mob:visited {
  color: var(--color-blue);
}

.btn {
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: transparent;
  color: var(--color-white);
  background-color: var(--color-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: var(--time-function);
  transition-timing-function: var(--cubic);
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-color);
  transition-property: color;
  transition-duration: var(--time-function);
  transition-timing-function: var(--cubic);
}
.header__link:hover, .header__link:focus, .header__link:active {
  color: var(--color-blue);
}

.menu {
  display: none;
}
@media screen and (min-width: 768px) {
  .menu {
    display: contents;
  }
}

.menu__list {
  display: flex;
}

.menu__item {
  margin-right: 50px;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu-open-btn {
  margin-left: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .menu-open-btn {
    display: none;
  }
}

.menu-mob {
  position: fixed;
  top: 0;
  background-color: var(--color-white);
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;
  z-index: 1;
}

.mob-container {
  padding-left: 40px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow: auto;
}

.menu-close-btn {
  position: absolute;
  right: 15px;
  top: 10px;
  background-color: transparent;
  border: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-btn:hover,
.menu-close-btn:active {
  fill: var(--social-hover);
}

.menu-mobile {
  margin-bottom: 50px;
}

.menu-mobile__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.menu-mobile__item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-mobile__item:hover,
.menu-mobile__item:focus {
  fill: var(--social-hover);
}

.menu-mobile__link {
  text-decoration: none;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-mobile__link:hover,
.menu-mobile__link:focus {
  color: var(--social-hover);
}

.contact-mob {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;
}

.contact-mobile {
  font-weight: 500;
  font-size: 29px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
}
@media screen and (min-width: 480px) {
  .contact-mobile {
    font-size: 34px;
  }
}

.contact-mob-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.mob-social {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.mob-social__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  text-decoration: none;
}

.mob-social__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 11px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}
@media screen and (min-width: 480px) {
  .mob-social__link {
    font-size: 18px;
  }
}

.contact {
  display: none;
}
@media screen and (min-width: 768px) {
  .contact {
    display: contents;
    display: flex;
    margin-left: auto;
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    flex-direction: row;
    gap: 30px;
  }
}

.contact__list {
  margin-left: auto;
}

.contact__item:last-child {
  margin-right: 0;
}

.contact__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--color-grey);
  transition-property: color;
  transition-duration: var(--time-function);
  transition-timing-function: var(--cubic);
}
.contact__link:hover, .contact__link:focus {
  color: var(--color-blue);
}
@media screen and (min-width: 1200px) {
  .contact__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contact__icon-mail {
  margin-right: 10px;
  height: 16px;
  width: 16px;
  fill: currentColor;
}

.contact__icon-phone {
  margin-right: 10px;
  height: 16px;
  width: 16px;
  fill: currentColor;
}

.hero {
  background-color: var(--hero-bg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-mob.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-mob2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    min-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-tablet.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-tablet-2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/herox2x.jpg");
  }
}

.hero__title {
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
  max-width: 360px;
  margin: 0 auto;
  margin-bottom: var(--card-set-gap);
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  font-family: inherit;
  background: var(--color-blue);
  box-shadow: 0px 4px 4px var(--btn-shadow);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-white);
  cursor: pointer;
  border-color: transparent;
  padding: 10px 24px;
  margin: 0 auto;
  transition-property: background-color;
  transition-duration: var(--time-function);
  transition-timing-function: var(--cubic);
}
.hero__button:active, .hero__button:hover, .hero__button:focus {
  background-color: var(--btn-hover);
  box-shadow: 0px 4px 4px var(--btn-shadow-f);
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .hero__button {
    padding: 10px 32px;
  }
}

.benefits__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.benefits__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .benefits__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .benefits__item {
    width: calc((100% - 90px) / 4);
  }
}

.benefits__thumb {
  display: flex;
  height: 120px;
  background: var(--color-button);
  border-radius: 4px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

.benefits__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  text-align: center;
}
@media screen and (min-width: 768px) {
  .benefits__title {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__title {
    text-align: left;
  }
}

.benefits__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-grey);
}

.work {
  display: none;
}
@media screen and (min-width: 1200px) {
  .work {
    display: contents;
    padding-top: 0;
  }
}

.work__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 50px;
}
@media screen and (min-width: 1200px) {
  .work__title {
    font-size: 36px;
  }
}

.work__list {
  display: flex;
  gap: var(--card-set-gap);
}

.work__name {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 27px 10px;
  color: var(--color-white);
}

.work__wrap {
  position: relative;
}

.teams {
  background-color: var(--color-button);
}

.team {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
@media screen and (min-width: 1200px) {
  .team-title {
    font-size: 36px;
  }
}

.team-item {
  list-style: none;
  width: 100%;
  background-color: var(--color-white);
  box-shadow: 0px 1px 3px var(--color-team-rgb), 0px 1px 1px var(--color-team-rgba), 0px 2px 1px var(--color-teams-rgb);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-item {
    width: calc((100% - 90px) / 4);
  }
}

.team-skills {
  padding: var(--card-set-gap) 10px;
}

.team-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.team-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-grey);
  margin-bottom: 16px;
}

.team-item-social {
  display: flex;
  justify-content: center;
}

.social-item:not(:first-child) {
  margin-left: 10px;
}

.social-link {
  width: 44px;
  height: 44px;
  background-color: var(--color-white);
  color: var(--team-soc-link);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: color, background-color;
  transition-duration: var(--time-function);
  transition-timing-function: var(--cubic);
}
.social-link:hover, .social-link:focus {
  background-color: var(--social-link-hover);
  color: var(--color-white);
}

.team-soc-link {
  fill: currentColor;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients-item {
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients-item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-item {
    width: calc((100% - 150px) / 6);
  }
}

.clients-item .link {
  height: 92px;
  border: 1px solid var(--team-soc-link);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 226px;
  fill: var(--team-soc-link);
  transition-property: fill, background-color, border;
  transition-duration: var(--time-function);
  transition-timing-function: var(--cubic);
}
.clients-item .link:hover, .clients-item .link:focus {
  border: 1px solid var(--color-blue);
  fill: var(--color-blue);
}

.footer {
  background-color: var(--color-footers);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-box {
  align-items: baseline;
  flex-direction: column;
  display: flex;
  align-items: center;
  row-gap: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-box {
    flex-direction: row;
    text-align: left;
    align-items: baseline;
  }
}

.logo-footer {
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.footer .item {
  margin-bottom: 9px;
}

.footer .item:last-child {
  margin-bottom: 0;
}

.footer-map {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-white);
  text-decoration: none;
}

.footer-contact {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-footer);
  text-decoration: none;
  transition-property: color;
  transition-duration: var(--time-function);
  transition-timing-function: var(--cubic);
}

.footer-contact:hover,
.footer-contact:focus {
  color: var(--color-blue);
}

.footer-center {
  display: block;
  text-align: center;
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .footer-center {
    margin-top: 0;
    margin-left: 93px;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-center {
    text-align: left;
  }
}

.footer-center-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-white);
}

.footer-item-social {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-social-item {
  display: flex;
}

.footer-social-link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: var(--time-function);
  transition-timing-function: var(--cubic);
}
.footer-social-link:hover, .footer-social-link:focus {
  background-color: var(--social-link-hover);
}

.footer-soc-link {
  fill: var(--color-white);
}

.button {
  color: var(--main-color);
  background-color: var(--color-button);
}

.button-primary {
  color: var(--color-white);
  background-color: var(--color-blue);
  box-shadow: 0px 3px 1px var(--color-btn-primary), 0px 1px 2px var(--color-btns-primary), 0px 2px 2px var(--color-team-rgb);
}

.footer-right {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-right {
    text-align: left;
  }
}

.footer-left {
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-left {
    margin-left: 93px;
    text-align: start;
  }
}

.footer-form-text {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-white);
}

.footer-form-inner {
  gap: 20px;
}
@media screen and (max-width: 1199px) {
  .footer-form-inner {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form-inner {
    display: flex;
    gap: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-email {
    margin-right: 12px;
  }
}

.footer-form-inner input {
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 50px;
  min-width: 290px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--color-white);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .footer-form-inner input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form-inner input {
    width: 358px;
    display: flex;
  }
}

.footer-btn {
  display: flex;
  padding: 10px 28px 10px 29px;
  justify-content: center;
  align-items: center;
}
.footer-btn:hover, .footer-btn:focus {
  background-color: var(--btn-hover);
}

.icon-follow {
  margin-left: 10px;
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .footer-tablet {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    gap: 175px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-tablet {
    gap: 0;
    flex-shrink: 0;
  }
}

.filter {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
}

.filter-item {
  margin-right: 8px;
}
.filter-item:last-child {
  margin-right: 0;
}

.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  padding: 6px 22px;
  border-radius: 4px;
  cursor: pointer;
  border-color: transparent;
  transition-property: background-color, color, box-shadow;
  transition-duration: var(--time-function);
  transition-timing-function: var(--cubic);
}
.portfolio-btn:active, .portfolio-btn:hover, .portfolio-btn:focus {
  color: var(--color-white);
  background: var(--color-blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border-color: transparent;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
  margin-bottom: 4px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-item {
  flex-basis: calc(33.3333333333% - 30px);
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}
.portfolio-item:hover .portfolio-top-text {
  transform: translateY(0);
}
.portfolio-item:nth-last-child(-n+3) {
  margin-right: 0;
  margin-bottom: 0;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--color-grey);
}

.portfolio-content {
  display: block;
  transition-property: box-shadow;
  transition-duration: var(--time-function);
  transition-timing-function: var(--cubic);
}
.portfolio-content:hover, .portfolio-content:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.text-list {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-top-text {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--color-white);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  height: 100%;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: var(--time-function) var(--cubic);
}

.portfolio-content:hover .portfolio-top-text,
.portfolio-content:focus .portfolio-top-text {
  transform: translateY(0);
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--time-function) var(--cubic), visibility var(--time-function) var(--cubic);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 609px;
  width: 95%;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 4px;
  transform: translate(-50%, -50%) scaleY(1);
  transition: transform var(--time-function);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0);
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;
  color: #000;
  fill: currentColor;
  border-radius: 50%;
  background-color: transparent;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: color var(--time-function) var(--cubic);
}
.close:hover, .close:focus {
  color: var(--btn-hover);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.modal-form {
  width: 100%;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--color-grey);
}
.form-field input, .form-field textarea {
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 4px;
  padding: 11px 42px;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  color: var(--color-black);
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  transition: outline-color var(--time-function) var(--cubic);
}
.form-field input:focus + .icon-form {
  color: var(--color-blue);
}
.form-field input:focus, .form-field textarea:focus {
  outline-color: var(--color-blue);
}
.form-field textarea {
  padding: 12px 16px;
  height: 120px;
  resize: none;
}

.icon-form {
  position: absolute;
  top: 50%;
  left: 12px;
  z-index: 1;
  color: var(--main-color);
  fill: currentColor;
  cursor: pointer;
  transition: color var(--time-function) var(--cubic);
}

.textarea {
  margin-bottom: 20px;
}

.terms {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--color-grey);
}
@media screen and (min-width: 1200px) {
  .terms {
    font-size: 14px;
    line-height: 1.71;
  }
}

.terms-link {
  display: inline-block;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--color-blue);
  transition: outline-color var(--time-function) var(--cubic);
}
.terms-link:focus {
  outline-color: var(--btn-hover);
}

.check {
  opacity: 0;
  position: absolute;
  top: auto;
  left: 12px;
  color: var(--color-white);
  fill: currentColor;
  border-radius: 2px;
  transition: color var(--time-function) var(--cubic), background-color var(--time-function) var(--cubic), opacity var(--time-function) var(--cubic);
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 5px;
  border: 2px solid;
  border-color: var(--secondary-text-color);
  border-radius: 4px;
  cursor: pointer;
  transition: all var(--time-function) var(--cubic);
}

.modal-checkbox:checked + .checkbox-icon {
  border-color: var(--color-blue);
  background-color: var(--color-blue);
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.modal-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-white);
  background-color: var(--color-blue);
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color var(--time-function) var(--cubic);
}
.modal-btn:hover, .modal-btn:focus {
  background-color: var(--btn-hover);
}/*# sourceMappingURL=main.css.map */