:root {
  --main-color: #212121;
  --color-blue: #2196f3;
  --color-grey: #757575;
  --color-white: #ffffff;
  --color-black: #000000;
  --background-grey: #2f303a;
  --btn-shadow: rgba(0, 0, 0, 0.15);
  --btn-shadow-f: rgba(0, 0, 0, 0.15);
  --btn-hover: #188ce8;
  --color-footer: rgba(255, 255, 255, 0.6);
  --color-button: #f5f4fa;
  --color-footers: #2f303a;
  --color-team-rgb: rgba(0, 0, 0, 0.12);
  --color-team-rgba: rgba(0, 0, 0, 0.14);
  --color-teams-rgb: rgba(0, 0, 0, 0.2);
  --color-btn-primary: rgba(0, 0, 0, 0.1);
  --color-btns-primary: rgba(0, 0, 0, 0.08);
  --card-set-gap: 30px;
  --social-link-hover: #2196f3;
  --team-soc-link: #afb1b8;
  --social-hover: #2196f3;
  --hero-bg: #c4c4c4;
  --time-function: 250ms;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
