.btn {
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: transparent;
  color: var(--color-white);
  background-color: var(--color-blue);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-radius: 4px;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: var(--time-function);
  transition-timing-function: var(--cubic);
}
