.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-color);
  transition-property: color;
  transition-duration: var(--time-function);
  transition-timing-function: var(--cubic);
  &:hover,
  &:focus,
  &:active {
    color: var(--color-blue);
  }
}
